

.crystal-image {
    width: 200px;
    height: 200px;
  }

h1 span{
    background-color:coral;
}

body{
    background-color: bisque;
}

.playerstats{
    height: 320px;
    width: 220px;
    background-color: rgb(14, 119, 180);
    float: right;
    font-size: 18px;
    margin-right: 5%;
    color: white;
    text-align: center;

    
}

#numbertomatch{
    text-align: center;
}